PORT=3000
CORS_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=coloque_a_senha_do_mysql_aqui
DB_NAME=ti_libras

JWT_SECRET=gere_uma_chave_com_pelo_menos_32_caracteres
JWT_EXPIRES_IN=7d
NODE_ENV=development
