PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=ti_libras

JWT_SECRET=t.i.libras
JWT_EXPIRES_IN=7d

# URL de onde o front-end é servido (ex: Live Server, http-server, etc.)
CORS_ORIGIN=http://localhost:5500
